<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>

<body>
	<div th:replace="fragments :: menu" ></div>
		 <!-- Card with an image on top -->
		 <main id="main" class="main">
		 <section class="section">
		 <div class="container">
		 <div class="row">
      		
          			<th:block  th:each="products : ${listShoeProduct}" >
          			<div class="col-12 col-md-4">
			          	<div class="card mb-4">
            				<img th:src="@{${products.getLogoImageOfProduct}}" class="card-img-top" alt="...">
            				<div class="card-body">
              					<h5 class="card-title"><span th:text="${products.pname}"></span></h5>
              					<p class="card-text"><span th:text="${products.pDesc}"></span><br/>
              						Price:$ <span th:text="${products.price}"></span>
              						<br/>
              						Size: <span th:text="${products.sizeShon.sizeName}"></span>
              					</p>
              					
              					<p class="card-text"><a th:href="@{/users/addToCard/list}" class="btn btn-primary">Buy</a></p>
              					
              					<p class="card-text"><a th:href="@{/users/addToCard/SaveAddToCard/{pid}(pid=${products.pid})}" class="btn btn-primar">Add to cart</a></p>
              					
            				</div>
          				</div>
          				</div>
          			</th:block>
	      
	         </div>
	       </div>
	       
	       
	     </section>
	     </main>
          <!-- End Card with an image on top -->
	<div th:insert="fragments :: footer"></div>
	<div th:insert="fragments :: script"></div>
</body>
</html>