<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<link th:href="@{/assets/css/pymentcss.css}" rel="stylesheet">

<body>
	<div th:replace="fragments :: menu"></div>
	<main id="main" class="main">
		<div class="container">
			<div class="container">
				<br /> <br />
				<section class="section">
					<div class="card">
						<div class="card-top border-bottom text-center">
							<span id="logo">Shopping</span>
						</div>
						<div class="card-body">
							<div class="row">
								<span><i class="fa fa-check-circle-o"></i> Shopping bag</span> <span><i
									class="fa fa-check-circle-o"></i> Order details</span> <span
									id="payment"><span id="three">3</span>Payment</span>
							</div>
							<form th:action="@{/users/checkoutCard/SaveCheckoutCard}"
								method="post">
								<div class="row">

									<div class="col-md-7">
										<div class="left border">
											<div class="row">
												<span class="header">Payment</span>
												<div class="icons">
													<img src="https://img.icons8.com/color/48/000000/visa.png" />
													<img
														src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
													<img
														src="https://img.icons8.com/color/48/000000/maestro.png" />
												</div>
											</div>

											<span>Cardholder's name:</span> <input
												placeholder="Linda Williams"> <span>Card
												Number:</span> <input placeholder="0125 6780 4567 9909">
											<div class="row">
												<div class="col-4">
													<span>Expiry date:</span> <input placeholder="YY/MM">
												</div>
												<div class="col-4">
													<span>CVV:</span> <input id="cvv">
												</div>
											</div>
											<input type="checkbox" id="save_card" class="align-left">
											<label for="save_card">Save card details to wallet</label>

										</div>
									</div>

									<div class="col-md-5">
										<div class="right border">
											<div class="header">
												Order Summary: <span th:text="${countOfProudct}"></span>
											</div>
											<th:block th:each="AddToCard : ${listAddToCard}">
												<div class="row item">
													<div class="col-4 align-self-center">
														<img class="img-fluid"
															th:src="${AddToCard.shoeProduct.getLogoImageOfProduct}">
													</div>
													<div class="col-8">
														<div class="row">
															<b>$:<span th:text="${AddToCard.price}"></span></b>
														</div>
														<div class="row text-muted">
															<span th:text="${AddToCard.shoeProduct.pname}"></span>
														</div>
														<div class="row text-muted">
															<span
																th:text="${AddToCard.shoeProduct.sizeShon.sizeName}"></span>
														</div>
														<div class="row">
															<span>Qty:<span th:text="${AddToCard.quantity}"></span></span>
														</div>
													</div>
												</div>
											</th:block>
											<hr>
											<div class="row lower">
												<div class="col text-left">Subtotal</div>
												<div class="col text-right">
													$ <span th:text="${sumOfPrice}"></span>
												</div>
											</div>
											<div class="row lower">
												<div class="col text-left">Delivery</div>
												<div class="col text-right">Free</div>
											</div>
											<div class="row lower">
												<div class="col text-left">
													<b>Total to pay</b>
												</div>
												<div class="col text-right">
													<b>$ <span th:text="${sumOfPrice}"></span></b>
												</div>
											</div>
											<div class="row lower"></div>
											<button class="btn">Place order</button>

											<p class="text-muted text-center">Complimentary Shipping
												& Returns</p>
										</div>

									</div>

									<a class="btn btn-primary m-2"
										th:href="@{/users/products/list}" role="button">Cancel</a>

								</div>
							</form>
						</div>

						<div></div>

					</div>

				</section>
			</div>
		</div>
	</main>
	<div th:insert="fragments :: footer"></div>
	<div th:insert="fragments :: script"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fileImage').change(function() {
				ShowImageProducts(this);
			});

		});
		function ShowImageProducts(fileInput) {
			file = fileInput.files[0];
			reader = new FileReader();
			reader.onload = function(e) {
				$('#show_image').attr('src', e.target.result);
			};
			reader.readAsDataURL(file);

		};
	</script>
</body>
</html>