<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head" />
<body>
	<main>

		<div class="container">

			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div
							class="col-lg-7 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Create an
											Account</h5>
										<p class="text-center small">Enter your personal details
											to create account</p>
									</div>

									<form method="POST" th:object="${users}"
										th:action="@{/users/AddUsers}"
										class="row g-3 needs-validation" novalidate>
										<div class="col-12">
											<label for="fullName" class="form-label">Your Name</label> <input
												type="text" name="fullName" th:field="*{fullName}"
												class="form-control" id="fullName" required>
											<div class="invalid-feedback">Please, enter your name!</div>

										</div>

										<div class="col-12">
											<label for="yourEmail" class="form-label">Your Email</label>
											<input type="email" name="email" th:field="*{email}"
												class="form-control" id="yourEmail" required>
											<div class="invalid-feedback">Please enter a valid
												Email adddress!</div>
										</div>

										<div class="col-12">
											<label for="yourUsername" class="form-label">Username</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" name="username" th:field="*{username}"
													class="form-control" id="yourUsername" required>
												<div class="invalid-feedback">Please choose a
													username.</div>
												<span class="has-error"
													th:if="${#fields.hasErrors('username')}"
													th:errors="*{username}"></span>
											</div>
										</div>

										<div class="col-12">
											<label for="yourPassword" class="form-label">Password</label>
											<input type="password" name="password" th:field="*{password}"
												class="form-control" id="yourPassword" required>
											<div class="invalid-feedback">Please enter your
												password!</div>
											<span class="has-error"
												th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></span>
										</div>

										<div class="col-12 m-2">
											<label for="yourRoles" class="form-label">Assigned
												Roles</label> <a class="btn btn-primary btn-sm"
												th:href="@{/roles/list}" role="button">Add Roles</a>
											<div class="col-8">
												<th:block th:each="roles : ${listroles}">
													<input type="checkbox" th:field="*{roles}"
														th:value="${roles.id}" th:text="${roles.name}"
														class="form-check-input m-2" />
												</th:block>

											</div>
											</div>
											<span class="has-error"
												th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></span>
											<div class="col-12">
												<div class="form-check">
													<input class="form-check-input" name="terms"
														type="checkbox" value="" id="acceptTerms" required>
													<label class="form-check-label" for="acceptTerms">I
														agree and accept the <a href="#">terms and conditions</a>
													</label>
													<div class="invalid-feedback">You must agree before
														submitting.</div>
												</div>
											</div>
											<div class="col-12">
												<button class="btn btn-primary w-50" type="submit">Create
													Account</button>
											</div>
											<a class="btn btn-cancel w-30" th:href="@{/users/list}"
										role="button">Cancel</a>
									</form>
								</div>
							</div>

						</div>

					</div>
				</div>
			</section>
		</div>




	</main>
	<!-- End #main -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
	<div th:insert="fragments :: footer"></div>
</body>
</html>